<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>

        {% else %}
            <strong>Sorry! No pages are in this category right now.</strong>
        {% endif %}

    {% else %}
        <strong>The specified category doesn't exist.</strong>
    {% endif %}

    <a href="/rango/category/{{ category.slug }}/add_page/">
        <h4>Add a page to this category</h4>
    </a>
</div>

</body>
</html>